.bluebox{
    background-color: steelblue;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    position: relative;
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: rgb(220, 220, 58);
    position: absolute;  /*fixed or sticky (other parameter */
    top:100px;
    left:100px;
}